<h1>Editing Student</h1>
 
<%= form_for :student, url: student_path(@student), method: :patch do |f| %>
  <% if @student.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@student.errors.count, "error") %> prohibited
      this student from being saved:</h2>
    <ul>
    <% @student.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
  <% end %>
  <p class = "form-group">
    <%= f.label :firstname %><br>
    <%= f.text_field :firstname , :class => 'form-control', :required => true %>
  </p>
 
  <p class = "form-group">
    <%= f.label :lastname %><br>
    <%= f.text_area :lastname , :class => 'form-control' , :required => true%>
  </p>
 
 <p class = "form-group">
    <%= f.label :gender %><br>
    <%= f.text_area :gender , :class => 'form-control' , :required => true %>
  </p>

 <p class = "form-group">
  <%= f.label :wearsglasses, "Does this child wear glasses?" %><br>
  <%= f.text_field :wearsglasses , :class => 'form-control' , :required => true %>
</p>

  <p class = "form-group">
  <%= f.label :school_id, "Select a school" %><br>
    <%=
    f.collection_select( :school_id, @schools, :id, :name, {:prompt => true} , :required => true) 
    %>
 

  <p class = "form-group">
    <%= f.label :parent_id, "Select a parent" %><br>
    <%=
    f.collection_select( :parent_id, @parents, :id, :fullname, {:prompt => true} , :required => true) 
  %> 

  <p class = "form-group">
    <%= link_to 'Cancel', students_path, class: 'btn btn-default' %>
    <%= f.submit :class => 'btn btn-primary' %>
  </p>
<% end %>
 
