<div id="register">
  <div class="container">
    <div class="row-fluid">
      <div class="col-md-12">
        <h1>Listing Students</h1>

        <table class="table">
          <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>School</th>
            <th>Room Number</th>
            <th>Parent First Name</th>
            <th>Parent Last Name</th>        
          </tr>
         
        <% @students.each do |student| %>
          <tr>
        <!--    <td><%= link_to student.firstname, student_path(student) %></td> -->
            <td> <%= link_to student.firstname, student_path(student), data: { toggle: "modal", target: "#modal" , remote: student_path(student)} %>
            </td>
            <td><%= student.lastname %></td>
            <td><%= student.school.name if student.school %></td>
            <td><%= student.classroomdescription if student.classroomdescription %></td>
            <td><%= student.parent.firstname if student.parent %></td>
            <td><%= student.parent.lastname if student.parent %></td>

          </tr>
        <% end %>
        </table>

        <%= link_to "New student", new_student_path, data: { toggle: "modal", target: "#modal" , remote: new_student_path} , class: 'btn btn-primary'%>
      </div>
    </div>
  </div>
</div>