<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title" id="myModalLabel">New Student</h4>  
        </div>          
        <div class="modal-body">
          <%= form_for :student, url: students_path do |f| %>
            <p class = "form-group">
              <%= f.label :firstname %><br>
              <%= f.text_field :firstname , :class => 'form-control'   %>
            </p>
           
            <p class = "form-group">
              <%= f.label :lastname %><br>
              <%= f.text_field :lastname , :class => 'form-control'  %>
            </p>
           
             <p class = "form-group">
              <%= f.label :gender %><br>
              <%= f.text_field :gender , :class => 'form-control'   %>
            </p>

            <%=
            f.collection_select( :school_id, @schools, :id, :name, {:prompt => true})
            #f.collection_select :school_id, School.all, :id, :name
            # f.collection_select(:student, :school_id, School.all, :id, :name, prompt: true)
            %>

          </div> <!-- modal-body -->            
          <div class="modal-footer"> 
            <p class ="form-group">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              <%= f.submit :class => 'btn btn-primary' %>
            </p>
          <% end %>
        </div> <!-- modal-footer -->
  </div>
</div>