<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title" id="myModalLabel">New Student</h4>  
        </div>          
        <div class="modal-body">
          <%= form_for :student, url: students_path do |f| %>
            <p class = "form-group">
              <%= f.label :firstname, "First Name"%><br>
              <%= f.text_field :firstname , :class => 'form-control'   %>
            </p>
           
            <p class = "form-group">
              <%= f.label :lastname, "Last Name" %><br>
              <%= f.text_field :lastname , :class => 'form-control'  %>
            </p>
           
             <p class = "form-group">
              <%= f.label :gender, "Gender" %><br>
              <%= f.text_field :gender , :class => 'form-control'   %>
            </p>

            <p class = "form-group">
              <%= f.label :school_id, "Select a school" %><br>
            <%=
            f.collection_select( :school_id, @schools, :id, :name, {:prompt => true})
            %>

          </div> <!-- modal-body -->            
          <div class="modal-footer"> 
            <p class ="form-group">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              <%= f.submit :class => 'btn btn-primary' %>
            </p>
          <% end %>
        </div> <!-- modal-footer -->
  </div>
</div>