<h1>New Student</h1>

<%= form_for :student, url: students_path do |f| %>
  <p>
    <%= f.label :firstname %><br>
    <%= f.text_field :firstname %>
  </p>
 
  <p>
    <%= f.label :lastname %><br>
    <%= f.text_field :lastname %>
  </p>
 
   <p>
    <%= f.label :gender %><br>
    <%= f.text_field :gender %>
  </p>
  <p>
    <%= link_to 'Cancel', students_path, class: 'btn btn-default' %>
    <%= f.submit :class => 'btn btn-primary' %>
  </p>
<% end %>