<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title" id="myModalLabel">New Student</h4>          
        <div class="modal-body">
          <%= form_for :student, url: students_path do |f| %>
            <p class = "form-group">
              <%= f.label :firstname %><br>
              <%= f.text_field :firstname , :class => 'form-control'   %>
            </p>
           
            <p class = "form-group">
              <%= f.label :lastname %><br>
              <%= f.text_field :lastname , :class => 'form-control'  %>
            </p>
           
             <p class = "form-group">
              <%= f.label :gender %><br>
              <%= f.text_field :gender , :class => 'form-control'   %>
            </p>
            <p class ="form-group">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              <%= f.submit :class => 'btn btn-primary' %>
            </p>
          <% end %>
        <div class="modal-body">
  </div>
</div>