<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title" id="myModalLabel"><%= @student.firstname + " " + @student.lastname %></h4>          
        </div>
        <div class="modal-body">
          <p id="firstname">
            <strong>First Name:</strong>
            <br/>
            <%= @student.firstname %>
          </p>
           
          <p id="lastname">
            <strong>Last Name:</strong>
            <br/>
            <%= @student.lastname %>
          </p>

          <p id="gender">
            <strong>Gender:</strong>
            <br/>
            <%= @student.gender %>
          </p>
          <p id="wearsglasses">
              <strong>Does this child wear glasses:</strong>
              <%= @student.wearsglasses %>
          </p>
          <p>
              <strong>Birth date</strong>
              <%= @student.birthdate %>
          </p>
          <p id="schoolname">
            <strong>School:</strong>
            <br/>
            <%= @student.school.name if @student.school %>
          </p>

          <p id="classroomdescription">
            <strong>Classroom Description:</strong>
            <%= @student.classroomdescription %>
          </p>

          <p id="classroomtime">
            <strong>Classroom Time:</strong>
            <%= @student.classroomtime %>
          </p>

          <p id="parent_full_name">
            <strong>Parent:</strong>
            <br/>
            <%= @student.parent.fullname if @student.parent %>
          </p>
        </div> <!-- modal-body -->
        <div class="modal-footer">
          
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <%= link_to 'Edit student', edit_student_path(@student), class: 'btn btn-primary' , id: "edit_student"  %>

          <%= link_to 'Delete', student_path(@student), class: 'btn btn-danger',
                              method: :delete, data: { confirm: 'Are you sure?' } , id: "delete_student" %>
        </div> <!-- modal-footer -->
  </div> <!-- modal-content -->        
</div>