<p>
  <strong>First Name:</strong>
  <br/>
  <%= @student.firstname %>
</p>
 
<p>
  <strong>Last Name:</strong>
  <br/>
  <%= @student.lastname %>
</p>

<p>
  <strong>Gender:</strong>
  <br/>
  <%= @student.gender %>
</p>

<%= link_to 'Back to students', students_path, class: 'btn btn-default' %>

<%= link_to 'Edit student', edit_student_path(@student), class: 'btn btn-primary' %>

<%= link_to 'Delete', student_path(@student), class: 'btn btn-danger',
                    method: :delete, data: { confirm: 'Are you sure?' } %>