<div id="homepage">
  <section class="hero">
    <a href="http://www.yelp.com/biz/prevent-blindness-northern-california-san-francisco" class="yelp-link" target="_blank">
      <div class="yelp-icon">
        <%= image_tag "yelp-icon.png" %>
      </div>
    </a>
    <div class="social-links">
      <a href="https://www.facebook.com/PreventBlindnessNorthernCalifornia?ref=hl" class="fb" target="_blank"><i class="fa fa-facebook"></i></a>
      <a href="https://twitter.com/PBNorcal" class="tw" target="_blank"><i class="fa fa-twitter"></i></a>
      <a href="http://www.youtube.com/user/PBNCgroup?feature=watch" class="yt" target="_blank"><i class="fa fa-youtube"></i></a>
    </div>
    <div class="container">  
      <div class="row-fluid splash">
        <div class="col-md-12">
          <div class="descript">
            <h1>Every child needs their vision for a lifetime of successful learning</h1>
            <p>Preschool kicks off a lifetime of learning, preparing children to read and write through constant visual intake of new knowledge. Without clear vision, preschoolers can quickly fall behind their peers and, devastatingly, may even be misdiagnosed with developmental and behavioral issues as they struggle to learn.
            <br/>
            <br/>
            Catching vision problems at this age—before they become larger learning inhibitors—sets children up for success in school and in life.</p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="visionscreening">
    <div class="shade-layer"></div>
    <div class="container">
      <div class="row-fluid">
        <div class="col-md-6 bus-type wow zoomIn"> 
          <h4>
             Our flagship <strong><%= link_to 'Eye Bus', eyebus_path %></strong> program brings high-tech vision care through school-based screenings done by certified professionals, including follow-up eye exams with optometrists and free prescription glasses aboard the Eye Bus.
          </h4>
          <%= link_to register_student_path, class: "benefit-button" do %>
            Our Eye Bus program
          <% end %>
        </div>
      </div>
    </div>
  </section> 

  <section class="screening-section">
    <div class="shade-layer"></div>
    <div class="container">
      <div class="row-fluid screening-text">
        <div class="col-md-6 col-md-offset-6 screen-type wow zoomIn"> 
          <h4>
             Through onsite <strong><%= link_to 'Screening Services', screening_services_path %></strong>, parents can be sure that their preschooler has the healthy eyes and clear vision they need to be ready for kindergarten and beyond.  
          </h4>
          <%= link_to screening_services_path, class: "benefit-button" do %>
            Our Screening Services
          <% end %>
          <%= link_to register_student_path, class: "register-link" do %>
            Register for a screening &nbsp; <i class="fa fa-chevron-right"></i>
          <% end %>
        </div>
      </div>
    </div>
  </section>

  <section class="pbnc-section">
    <div class="container">
      <div class="row-fluid">
        <div class="col-md-3"> 
          <%= image_tag "pbnc-home-logo.png", class: "pbnc-logo-home" %>
        </div>
        <div class="col-md-6"> 
          See Well to Learn&trade; is a Prevent Blindness Northern California program that ensures all children have their best vision in order to succeed in school. Seed funding and ongoing support is provided by Tipping Point Community.
        </div>
        <div class="col-md-3"> 
          <%= image_tag "tipping-point-logo.png", class: "tpc-logo-home" %>
        </div>
      </div>
    </div>
  </section>  

</div>

<% content_for :head do %>
  <script src="js/wow.min.js"></script>
<% end %>

<% content_for :script do %>
  <script>
   new WOW().init();
  </script>
<% end %>