<div id="homepage">
  <section class="hero">
    <a href="http://www.yelp.com/biz/prevent-blindness-northern-california-san-francisco" class="yelp-link" target="_blank">
      <div class="yelp-icon">
        <%= image_tag "yelp-icon.png" %>
      </div>
    </a>
    <div class="social-links">
      <a href="https://www.facebook.com/PreventBlindnessNorthernCalifornia?ref=hl" class="fb" target="_blank"><i class="fa fa-facebook"></i></a>
      <a href="https://twitter.com/PBNorcal" class="tw" target="_blank"><i class="fa fa-twitter"></i></a>
      <a href="http://www.youtube.com/user/PBNCgroup?feature=watch" class="yt" target="_blank"><i class="fa fa-youtube"></i></a>
    </div>
    <div class="container">  
      <div class="row-fluid splash">
        <div class="col-md-12">
          <div class="descript">
            <!-- <div class="count">1000000+</div> -->
            <!-- ODOMETER trying to make werk
            <div class="odometer-container">
              <div class="odometer odometer-theme-minimal odometer-theme-odometer">
                  <span class="odometer-digit">
                    <span class="odometer-digit-spacer">O</span>
                    <span class="odometer-digit-inner">
                      <span class="odometer-ribbon">
                        <span class="odometer-ribbon-inner">
                          <span class="odometer-value odometer-first-value">&nbsp;</span>
                          <span class="odometer-value">L</span>
                          <span class="odometer-value">M</span>
                          <span class="odometer-value odometer-last-value">O</span>
                        </span>
                      </span>
                    </span>
                  </span>
                  <span class="odometer-digit">
                    <span class="odometer-digit-spacer">D</span>
                    <span class="odometer-digit-inner">
                      <span class="odometer-ribbon">
                        <span class="odometer-ribbon-inner">
                          <span class="odometer-value odometer-first-value">&nbsp;</span>
                          <span class="odometer-value">Z</span>
                          <span class="odometer-value">A</span>
                          <span class="odometer-value">B</span>
                          <span class="odometer-value">C</span>
                          <span class="odometer-value odometer-last-value">D</span>
                        </span>
                      </span>
                    </span>
                  </span>
                  <span class="odometer-digit">
                    <span class="odometer-digit-spacer">O</span>
                    <span class="odometer-digit-inner">
                      <span class="odometer-ribbon">
                        <span class="odometer-ribbon-inner">
                          <span class="odometer-value odometer-first-value">&nbsp;</span>
                          <span class="odometer-value">I</span>
                          <span class="odometer-value">J</span>
                          <span class="odometer-value">K</span>
                          <span class="odometer-value">L</span>
                          <span class="odometer-value">M</span>
                          <span class="odometer-value odometer-last-value">O</span>
                        </span>
                      </span>
                    </span>
                  </span>
                  <span class="odometer-digit">
                    <span class="odometer-digit-spacer">M</span>
                    <span class="odometer-digit-inner">
                      <span class="odometer-ribbon">
                        <span class="odometer-ribbon-inner">
                          <span class="odometer-value odometer-first-value">&nbsp;</span>
                          <span class="odometer-value">G</span>
                          <span class="odometer-value">H</span>
                          <span class="odometer-value">I</span>
                          <span class="odometer-value">J</span>
                          <span class="odometer-value">K</span>
                          <span class="odometer-value">L</span>
                          <span class="odometer-value odometer-last-value">M</span>
                        </span>
                      </span>
                    </span>
                  </span>
                  <span class="odometer-digit">
                    <span class="odometer-digit-spacer">E</span>
                    <span class="odometer-digit-inner">
                      <span class="odometer-ribbon">
                        <span class="odometer-ribbon-inner">
                          <span class="odometer-value odometer-first-value">&nbsp;</span>
                          <span class="odometer-value">Y</span>
                          <span class="odometer-value">Z</span>
                          <span class="odometer-value">A</span>
                          <span class="odometer-value">B</span>
                          <span class="odometer-value">C</span>
                          <span class="odometer-value">D</span>
                          <span class="odometer-value odometer-last-value">E</span>
                        </span>
                      </span>
                    </span>
                  </span>
                  <span class="odometer-digit">
                    <span class="odometer-digit-spacer">T</span>
                    <span class="odometer-digit-inner">
                      <span class="odometer-ribbon">
                        <span class="odometer-ribbon-inner">
                          <span class="odometer-value odometer-first-value">&nbsp;</span>
                          <span class="odometer-value">L</span>
                          <span class="odometer-value">M</span>
                          <span class="odometer-value">N</span>
                          <span class="odometer-value">O</span>
                          <span class="odometer-value">P</span>
                          <span class="odometer-value">Q</span>
                          <span class="odometer-value">R</span>
                          <span class="odometer-value">S</span>
                          <span class="odometer-value odometer-last-value">T</span>
                        </span>
                      </span>
                    </span>
                  </span>
                  <span class="odometer-digit">
                    <span class="odometer-digit-spacer">E</span>
                    <span class="odometer-digit-inner">
                      <span class="odometer-ribbon">
                        <span class="odometer-ribbon-inner">
                          <span class="odometer-value odometer-first-value">&nbsp;</span>
                          <span class="odometer-value">V</span>
                          <span class="odometer-value">W</span>
                          <span class="odometer-value">X</span>
                          <span class="odometer-value">Y</span>
                          <span class="odometer-value">Z</span>
                          <span class="odometer-value">A</span>
                          <span class="odometer-value">B</span>
                          <span class="odometer-value">C</span>
                          <span class="odometer-value">D</span>
                          <span class="odometer-value odometer-last-value">E</span>
                        </span>
                      </span>
                    </span>
                  </span>
                  <span class="odometer-digit">
                    <span class="odometer-digit-spacer">R</span>
                    <span class="odometer-digit-inner">
                      <span class="odometer-ribbon">
                        <span class="odometer-ribbon-inner">
                          <span class="odometer-value odometer-first-value">&nbsp;</span>
                          <span class="odometer-value">G</span>
                          <span class="odometer-value">H</span>
                          <span class="odometer-value">I</span>
                          <span class="odometer-value">J</span>
                          <span class="odometer-value">K</span>
                          <span class="odometer-value">L</span>
                          <span class="odometer-value">M</span>
                          <span class="odometer-value">O</span>
                          <span class="odometer-value">P</span>
                          <span class="odometer-value">Q</span>
                          <span class="odometer-value odometer-last-value">R</span>
                      </span>
                    </span>
                  </span>
                </span>
              </div>
            </div>
            -->
            <h1>We've screened over a million children and counting</h1>
            <h4>Preschool kicks off a lifetime of learning, preparing children to read a blackboard and learn from across the room. Catching vision problems at this age through screening—before they become larger learning or behavioral issues—sets children up for educational and social success.</h4>
            <%= link_to register_student_path, class: "hero-button" do %>
              Register for Your Child’s Screening<i class="fa fa-arrow-right"></i>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="visionscreening">
>
    <div class="container">
      <div class="row-fluid busrow">
        <div class="col-md-12">
          <%= image_tag "eyebus.png", class: "dabus" %>
        </div>
      </div>
      <div class="row-fluid">
        <div class="col-md-12">
          <h3>Screen early to ensure children have their best vision for a lifetime of learning</h3>
        </div>
        <div class="col-md-6"> 
          <h4>For private preschools,</h4>
          <p>
             we bring high-tech, thorough vision screening and well-trained, professional screeners to school sites. We send children home with the results of their screenings that very same day, along with any recommendations on follow-up care, so parents can take confident action.
          </p>

          <%= link_to register_student_path, class: "benefit-button" do %>
            Register your child<i class="fa fa-arrow-right"></i>
          <% end %>

          <%= link_to parents_static_path, class: "learnmore-link" do %>
            Learn more<i class="fa fa-info-circle"></i> 
          <% end %>

        </div>
        <div class="col-md-6">
          <h4>For publicly funded low-income preschools,</h4>
          <p>
            we offer Vision 360⁰: the same high-tech, thorough vision screening and well-trained screeners, plus follow-up eye exams with professional optometrists and prescription glasses through our Eye Bus.
            We are committed to making sure all of Northern California’s children can see well. 
          </p>

          <%= mail_to "followup@seewelltolearn.org", class: 'benefit-button' do %>
          Contact us<i class="fa fa-arrow-right"></i>
          <% end %>

          <%= link_to vision360_path, class: "learnmore-link" do %>
            Learn more<i class="fa fa-info-circle"></i> 
          <% end %>

        </div>
      </div>

      <div class="row-fluid benefits">
        <div class="col-md-12">
          <h1>The Benefits</h1> 
          <h4>of See Well to Learn Screening Services</h4>
        </div>
      </div>
      <div class="row-fluid">
        <div class="col-md-3 benefit-group">
          <%= image_tag "scan-icon-blue.png", class: "benefit-icon" %>
          <div class="benefit-detail"><strong>Advanced vision screening</strong> technology that catches even subtle issues</div>
        </div>
        <div class="col-md-3 benefit-group">
          <%= image_tag "tech-icon-blue.png", class: "benefit-icon" %>
          <div class="benefit-detail">Highly trained <strong>professional screeners</strong> that are excellent at working with preschool-aged children</div>
        </div>
        <div class="col-md-3 benefit-group">
          <%= image_tag "print-icon-blue.png", class: "benefit-icon" %>
          <div class="benefit-detail">Instantly available <strong>results</strong> that are sent home <strong>same day</strong> with the screened child</div>
        </div>
        <div class="col-md-3 benefit-group">
          <%= image_tag "assist-icon-blue.png", class: "benefit-icon" %>
          <div class="benefit-detail"><strong>Expert assistance</strong> for parents as they navigate follow up care for their child</div>
        </div>
      </div>

    </div>

  </section> 


</div>