<div class="partners-page alt-page">
  <section class="content">
    <div class="sp-container">
      <div class="row-fluid intro">
        <div class="col-md-12">
          <h1 class="page-title">Our Partners</h1>
          <p>The Eye Bus program launched in San Francisco and Oakland and is privileged to partner with the following organizations to deliver its services.  We welcome any partners who are interested in bringing this vision program to preschoolers across the six Bay Area counties.</p>
        </div>
      </div>
      <div class="partner-logo-matrix">
        <div class="row-fluid row1">
          <div class="col-md-4">
            <div class="partner-logo-box">
              <%= image_tag "partners/sfusd.jpg" %>
            </div>
          </div>
          <div class="col-md-4">
            <div class="partner-logo-box">
              <%= image_tag "partners/mission-neighborhood-centers.jpg" %>
            </div>
          </div>
          <div class="col-md-4">
            <div class="partner-logo-box">
              <%= image_tag "partners/wuyee.jpg" %>
            </div>
          </div>
        </div>
        <div class="row-fluid row2">
          <div class="col-md-4">
            <div class="partner-logo-box">
              <%= image_tag "partners/kaiming.jpg" %>
            </div>
          </div>
          <div class="col-md-4">
            <div class="partner-logo-box">
              <%= image_tag "partners/faces-sf.jpg" %>
            </div>
          </div>
          <div class="col-md-4">
            <div class="partner-logo-box">
              <%= image_tag "partners/crossculturalfamilycenter.jpg" %>
            </div>
          </div>
        </div>
        <div class="row-fluid row3">
          <div class="col-md-4">
            <div class="partner-logo-box">
              <%= image_tag "partners/SFDPH.jpg" %>
            </div>
          </div>
          <div class="col-md-4">
            <div class="partner-logo-box">
              <%= image_tag "partners/ousd.jpg" %>
            </div>
          </div>
          <div class="col-md-4">
            <div class="partner-logo-box">
              <%= image_tag "partners/oakland-headstart.jpg" %>
            </div>
          </div>
        </div>
        <div class="row-fluid row4">
          <div class="col-md-4">
            <div class="partner-logo-box">
              <%= image_tag "partners/unitycouncil.jpg" %>
            </div>
          </div>
          <div class="col-md-4">
            <div class="partner-logo-box">
              <%= image_tag "partners/first5-alameda.jpg" %>
            </div>
          </div>
          <div class="col-md-4">
            <div class="partner-logo-box">
              <%= image_tag "partners/first5.jpg" %>
            </div>
          </div>
        </div>
        <div class="row-fluid">
          <div class="col-md-4 last-logo">
            <div class="partner-logo-box last-box">
              <%= image_tag "partners/ucsf.jpg" %>
            </div>
          </div>
          <div class="col-md-4">
          </div>
          <div class="col-md-4">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
