<div class="supporters-page alt-page">
  <section class="content">
    <div class="container">
      <div class="row-fluid intro">
        <div class="col-md-12">
          <h1 class="page-title">Our Supporters</h1>
          <p>The See Well to Learn&trade; Eye Bus program is a program of Prevent Blindness Northern California and is supported through grants and individual gifts. We are extremely grateful to all of our donors who make it possible for us to provide this valuable service.  Gifts of every size can help every child have the best vision possible so that they can see clearly and succeed in school, regardless of their background.  We invite you to join the Eye Bus mission as we plan to expand our services to reach all children across the six Bay Area counties.</p>
        </div>

        <div class="row-fluid">
          <div class="col-md-4">
            <h3>Seed &amp; Ongoing Funder</h3>
            <div class="supporter tp-logo">
              <%= image_tag "supporters/tipping-point-tall.jpg" %>
            </div>
          </div>
          <div class="col-md-4">
            <h3>Supporters</h3>
            <div class="supporter">
              <div><span class="supporter-text">Fox Family Foundation</span></div>
              <div><span class="supporter-text">Witkin Foundation</span></div>
            </div>
            <div class="supporter">
              <%= image_tag "supporters/first_5_alameda.jpg" %>
            </div>
            <div class="supporter">
              <%= image_tag "supporters/wpadefbd0f_06.png" %>
            </div>
            <div class="supporter">
              <%= image_tag "supporters/pge.jpg" %>
            </div>
          </div>
          <div class="col-md-4">
            <h3>In-kind donations</h3>
            <div class="supporter">
              <%= image_tag "supporters/peeps.jpg" %>
            </div>
            <div class="supporter">
              <%= image_tag "supporters/needlogo.jpg" %>
            </div>
            <div class="supporter">
              <%= image_tag "supporters/nouveau.jpg" %>
            </div>
            <div class="supporter">
              <%= image_tag "supporters/essilor.jpg" %>
            </div>
            <div class="push100"></div>
            <div class="push100"></div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
