<div id="register">
  <div class="container">
    <div class="row-fluid">
      <div class="col-md-12">
        <h1>Editing School</h1>
         
        <%= form_for :school, url: school_path(@school), method: :patch do |f| %>
          <% if @school.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(@school.errors.count, "error") %> prohibited
              this school from being saved:</h2>
            <ul>
            <% @school.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
            <% end %>
            </ul>
          </div>
          <% end %>
          <p class = "form-group">
            <%= f.label :name %><br>
            <%= f.text_field :name , :class => 'form-control'%>
          </p>
         
          <p class = "form-group">
            <%= f.label :description %><br>
            <%= f.text_area :description , :class => 'form-control' %>
          </p>
         
          <p class = "form-group">
            <%= f.label :address %><br>
            <%= f.text_field :address , :class => 'form-control' %>
          </p>
          
          <p class = "form-group">
            <%= f.label :address2 %><br>
            <%= f.text_field :address2 , :class => 'form-control' %>
          </p>   
          
          <p class = "form-group">
            <%= f.label :city %><br>
            <%= f.text_field :city , :class => 'form-control' %>
          </p>  
          
          <p class = "form-group">
            <%= f.label :state %><br>
            <%= f.text_field :state , :class => 'form-control' %>
          </p>  
          
          <p class = "form-group">
            <%= f.label :zip %><br>
            <%= f.text_field :zip , :class => 'form-control' %>
          </p>  
          
          <p class = "form-group">
            <%= f.label :"Point of contact" %><br>
            <%= f.text_field :POC , :class => 'form-control' %>
          </p>  
          
          <p class = "form-group">
            <%= f.label :title %><br>
            <%= f.text_field :title , :class => 'form-control' %>
          </p>  
          
          <p class = "form-group">
            <%= f.label :email %><br>
            <%= f.text_field :email , :class => 'form-control' %>
          </p>  
          
          <p class = "form-group">
            <%= f.label :phone %><br>
            <%= f.text_field :phone , :class => 'form-control' %>
          </p>         

          <p>
            <%= link_to 'Cancel', schools_path, class: 'btn btn-default' %>
            <%= f.submit :class => 'btn btn-primary' , :id => 'save_school' %>
          </p>
        <% end %>
      </div>
    </div> 
  </div> 
</div> 
