<h1>Listing Schools</h1>

<table class="table">
  <tr>
    <th>School Name</th>
    <th>Description</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
 
<% @schools.each do |school| %>
  <tr>
    <!-- <td><%= link_to school.name, school_path(school) %></td> -->
    <td><%= link_to school.name, school_path(school) , data: { toggle: "modal", target: "#modal", remote: school_path(school)}  %></td>
    <td><%= school.description %></td>
  </tr>
<% end %>
</table>

<!--
<%= link_to 'New school', new_school_path, class: 'btn btn-primary' %>
-->

  

<%= link_to "New school", new_school_path, data: { toggle: "modal", target: "#modal" , remote: new_school_path} , class: 'btn btn-primary'%>

     <!-- Modal dvu: move into main layout?  Should only ever have one modal.-->
    <div class="modal" id="modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    </div><!-- /.modal -->


<!-- 
  Twitters modal has a bug where it won't reload after items that refresh
  it's content.  This is the workaround from : 
  http://stackoverflow.com/questions/12449890/reload-content-in-modal-twitter-bootstrap -->
<script>

  $("a[data-target=#modal]").click(function(ev) {
      ev.preventDefault();
      var target = $(this).attr("href");

      // load the url and show modal on success
      $("#modal").load(target, function() { 
           $("#modal").modal("show"); 
      });
  });
  
</script>