 <div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title" id="myModalLabel">New School</h4>          
        </div>
        <div class="modal-body">
            <%= form_for :school, url: schools_path do |f| %>
              <p class = "form-group">
                <%= f.label :name  %><br>
                <%= f.text_field :name , :class => 'form-control' %>
              </p>
             
              <p class = "form-group">
                <%= f.label :description %><br>
                <%= f.text_field :description, :class => 'form-control'  %>
              </p>
              <p class = "form-group pull-right">              	
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <%= f.submit :class => 'btn btn-primary' %>
              </p>
            <% end %>
          </div> <!-- modal-body -->
          <div class="modal-footer">
<!-- dvu: f.submit in footer breaks submit action in FF -->
          </div><!-- modal-footer -->
      </div> <!-- modal-content -->
</div>    
