<h1>New School</h1>

<%= form_for :school, url: schools_path do |f| %>
  <p>
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </p>
 
  <p>
    <%= f.label :description %><br>
    <%= f.text_field :description %>
  </p>
 
  <p>
  	<%= link_to 'Cancel', schools_path, class: 'btn btn-default' %>
    <%= f.submit :class => 'btn btn-primary'%>
  </p>
<% end %>