<div id="register">
  <div class="container">
    <div class="row-fluid">
      <div class="col-md-12">
        <h1>Listing Parents</h1>

        <table class="table">
          <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email</th>
            <th>Children</th>
            <th>Schools</th>
            <th>Opt in</th>
          </tr>
         
        <% @parents.each do |parent| %>
          <tr>    
            <td><%= link_to parent.firstname, parent_path(parent) , data: { toggle: "modal", target: "#modal", remote: parent_path(parent)}  %></td>
            <td><%= parent.lastname %></td>
            <td><%= parent.email %></td>
            <td>
              <ul>
              <% parent.students.each do |student| %>
                <li><%= student.fullname %></li>
              <% end %>
              </ul>
            </td>
            <td>
              <ul>
              <% parent.students.each do |student| %>
                <li><%= student.school.name if student.school %> </li>
              <% end %>
              </ul>
            </td>
			<td><%= parent.acceptsmarketing %></td>
          </tr>
        <% end %>
        </table>

        <%= link_to "New parent", new_parent_path, id: "new_parent", data: { toggle: "modal", target: "#modal" , remote: new_parent_path} , class: 'btn btn-primary'%>
      </div>
    </div>
  </div>
</div>