          
        <h3>
          Register your child
        </h3>
          <%= form_for :student, url: students_path do |f| %>
          <!-- buggy, I don't think we ever hit the error markup because we're using html validation to
          require the form input fields -->
          <% if @student.errors.any? %>
            <div id="error_explanation">
              <h2><%= pluralize(@student.errors.count, "error") %> prohibited this student from being saved:</h2>
           
              <ul>
              <% @student.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
              <% end %>
              </ul>
            </div>
          <% end %>

            <p class = "form-group">
              <%= f.label :firstname, "Student's First Name"%><br>
              <%= f.text_field :firstname , :class => 'form-control' , :required => true  %>
            </p>
           
            <p class = "form-group">
              <%= f.label :lastname, "Student's Last Name" %><br>
              <%= f.text_field :lastname , :class => 'form-control' , :required => true  %>
            </p>
           
            <%= f.label :gender %>
            <p class = "form-group">
             <%= f.radio_button(:gender, "M") %>
            <%= label_tag("Male") %>
            <%= f.radio_button(:gender, "F") %>
            <%= label_tag("Female") %>
            </p>
<!--              <p class = "form-group">
              <%= f.label :gender, "Gender" %><br>
              <%= f.text_field :gender , :class => 'form-control' , :required => true %>
            </p>
 -->
             <p class = "form-group">
              <%= f.label :wearsglasses, "Does your child wear glasses?" %><br>
              <%= f.text_field :wearsglasses , :class => 'form-control' , :required => true %>
            </p>

          <p class = "form-group">
            <%= f.label :birthdate, "Birth Date" %><br>
            <%=date_select :student, :birthdate, { start_year: 30.years.ago.year, end_year: Date.today.year, default: Date.today, order: [:month, :day, :year]}  %>
          </p>

            <p class = "form-group">
              <%= f.label :school_id, "Select a school" %><br>
              <%=
              f.collection_select( :school_id, @schools, :id, :name, {:prompt => true} , :required => true) 
              %>

             <p class = "form-group">
              <%= f.label :classroomdescription, "What class is your child in? (Room #, Teacher)" %><br>
              <%= f.text_field :classroomdescription , :class => 'form-control' , :required => true %>
            </p>

             <p class = "form-group">
              <%= f.label :classroomtime, "Is class in the morning or the evening?" %><br>
              <!-- <%= f.text_field :classroomtime , :class => 'form-control' , :required => true %> -->

               <%= f.radio_button(:classroomtime, "AM") %>
              <%= label_tag("AM") %>
              <%= f.radio_button(:classroomtime, "PM") %>
              <%= label_tag("PM") %>

            </p>

            <!-- if a parent is registering, assign this student to that parent automatically.  Otherwise, this is an admin who may assign a parent via dropdown -->
<!--             <% if @parent %>                 
                <%= f.hidden_field :parent_id, :value => @parent.id %>          
            <% else %>  
              <p class = "form-group">
                <%= f.label :parent_id, "Select a parent" %><br>
                <%=
                f.collection_select( :parent_id, @parents, :id, :firstname, {:prompt => true} , :required => true) 
                %>
            <% end %>
 -->


              
          
            <p class ="form-group">              
              <%= f.submit "Next", :class => 'btn btn-primary' %>
            </p>
          <% end %>
        