<div id="register">
  <div class="container">
    <div class="row">
      <div class="col-md-9">
        <h1>Register your child for a screening</h1>
        <p>Please use the following forms to sign up and pay for your child’s vision screening.  </br>
          All demographic and screening information collected will be safely secured according to HIPAA regulations.
        </p>                
        <%= form_for :student, url: students_path do |f| %>
              <!-- buggy, I don't think we ever hit the error markup because we're using html validation to
              require the form input fields -->
              <% if @student.errors.any? %>
                <div id="error_explanation">
                  <h2><%= pluralize(@student.errors.count, "error") %> prohibited this student from being saved:</h2>
               
                  <ul>
                  <% @student.errors.full_messages.each do |msg| %>
                    <li><%= msg %></li>
                  <% end %>
                  </ul>
                </div>
              <% end %>

          <p class = "form-group">
            <%= f.label :firstname, "Child's First Name"%><br>
            <%= f.text_field :firstname , :class => 'form-control' , :required => true  %>
          </p>                 
          <p class = "form-group">
            <%= f.label :lastname, "Child's Last Name" %><br>
            <%= f.text_field :lastname , :class => 'form-control' , :required => true  %>
          </p>                                   
          <%= f.label :gender %>
          <p class = "form-group">            
            <%= f.radio_button(:gender, "F") %>
            <%= f.label :gender, "Female", :value => "F" %>
            <%= f.radio_button(:gender, "M") %>
            <%= f.label :gender, "Male", :value => "M" %>
          </p>
          <%= f.label :wearsglasses, "Does your child wear glasses?" %><br>
          <p class = "form-group">
            <%= f.radio_button(:wearsglasses, "Y") %>
            <%= f.label :wearsglasses, "Yes", :value => "Y" %>
            <%= f.radio_button(:wearsglasses, "N") %>
            <%= f.label :wearsglasses, "No", :value => "N" %>
          </p>
          <p class = "form-group">
            <%= f.label :birthdate, "When is your child's birthdate?" %><br>
            <%=date_select :student, :birthdate, { start_year: 30.years.ago.year, end_year: Date.today.year, default: Date.today, order: [:month, :day, :year]}  %>
          </p>
          <p class = "form-group">
            <%= f.label :school_id, "Which school does your child attend?" %><br>
            <%=
            f.collection_select( :school_id, @schools, :id, :name, {:prompt => true} , :required => true) 
            %>
          </p>
          <p class = "form-group">
            <%= f.label :classroomdescription, "What is your child's room number?" %><br>
            <%= f.text_field :classroomdescription , :class => 'form-control' , :required => true %>
          </p>
          <p class="form-group">
            <%= f.label :classroomtime, "When does your child attend preschool?" %><br>
            <%= f.radio_button(:classroomtime, "AM") %>
            <%= f.label :classroomtime, "Morning", :value => "AM" %>
            <%= f.radio_button(:classroomtime, "PM") %>
            <%= f.label :classroomtime, "Afternoon", :value => "PM"  %>
            <%= f.radio_button(:classroomtime, "DAY") %>
            <%= f.label :classroomtime, "All Day", :value => "DAY"  %>
          </p>
          <label> Please choose among the following options:</label> <br/>
          <p>
            <%= radio_button_tag(:buy_one_get_one, "no") %>
            <%= label_tag("One (1) screening for my child") %> </br>
            A single vision screening costs $20.
          </p> 
          <p class="form-group">
            <%= radio_button_tag(:buy_one_get_one, "yes") %>
            <%= label_tag("Buy one, Give one: one (1) screening for my child + the gift of one (1) screening for a low-income child") %></br>
              See Well to Learn also provides vision screening services to low-income children, whose families cannot afford it.  Please consider gifting a screening today to help another preschooler have a clear future.
          </p>

          <%= f.submit "Next", :class => 'form-button', :id => "next" %>

        <% end %>
      </div>   
    </div>
  </div>    
</div>