<div id="register">
  <div class="container">
    <div class="row">
      <div class="panel panel-primary">
        <h1 class="panel-title">Tell us about yourself</h1>
        <div class="panel-body">    
          <%= form_for :parent, url: parents_path do |f| %>
            <p class = "form-group">
              <%= f.label :firstname,  "Your First Name"  %><br>
              <%= f.text_field :firstname, :class => 'form-control' , :required => true   %>
            </p>           
            <p class = "form-group">
              <%= f.label :lastname, "Your Last Name" %><br>
              <%= f.text_field :lastname, :class => 'form-control'  ,:required => true %>
            </p>
            <p class = "form-group">
              <%= f.label :email, "Your email address" %><br>
              <%= f.text_field :email, :class => 'form-control', :pattern => '[^@]+@[^@]+\.[a-zA-Z]{2,6}' ,:required => true %>
            </p>
            <p class = "form-group">
              <%= f.check_box :acceptsmarketing  %> Unclick if you'd like to opt out of learning more about the work Prevent Blindness does to ensure all preschool-aged children in Northern California are prepared to succeed in school
            </p>
              <%= f.submit "Next", :class => 'form-button' %>            
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>