<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title" id="myModalLabel">New Student</h4>  
        </div>          
        <div class="modal-body">
          <%= form_for :student, url: students_path do |f| %>
          <!-- buggy, I don't think we ever hit the error markup because we're using html validation to
          require the form input fields -->
          <% if @student.errors.any? %>
            <div id="error_explanation">
              <h2><%= pluralize(@student.errors.count, "error") %> prohibited this student from being saved:</h2>
           
              <ul>
              <% @student.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
              <% end %>
              </ul>
            </div>
          <% end %>

            <p class = "form-group">
              <%= f.label :firstname, "First Name"%><br>
              <%= f.text_field :firstname , :class => 'form-control' , :required => true  %>
            </p>
           
            <p class = "form-group">
              <%= f.label :lastname, "Last Name" %><br>
              <%= f.text_field :lastname , :class => 'form-control' , :required => true  %>
            </p>
           
             <p class = "form-group">
              <%= f.label :gender, "Gender" %><br>
              <%= f.text_field :gender , :class => 'form-control' , :required => true %>
            </p>

             <p class = "form-group">
              <%= f.label :wearsglasses, "Does your child wear glasses?" %><br>
              <%= f.text_field :wearsglasses , :class => 'form-control' , :required => true %>
            </p>


            <p class = "form-group">
              <%= f.label :school_id, "Select a school" %><br>
              <%=
              f.collection_select( :school_id, @schools, :id, :name, {:prompt => true} , :required => true) 
              %>

            <!-- if a parent is registering, assign this student to that parent automatically.  Otherwise, this is an admin who may assign a parent via dropdown -->
            <% if @parent %>                 
                <%= f.hidden_field :parent_id, :value => @parent.id %>          
            <% else %>  
              <p class = "form-group">
                <%= f.label :parent_id, "Select a parent" %><br>
                <%=
                f.collection_select( :parent_id, @parents, :id, :firstname, {:prompt => true} , :required => true) 
                %>
            <% end %>



          </div> <!-- modal-body -->            
          <div class="modal-footer"> 
            <p class ="form-group">
              <%= f.submit :class => 'btn btn-primary' %>
            </p>
          <% end %>
        </div> <!-- modal-footer -->
  </div>
</div>