<div class="leftnav" data-spy="affix">
  <%= link_to home_path, class: 'big-logo' do %>
    <%= image_tag "seewelltolearn-sidenav-logo.png" %>
  <% end %>

  <div class="leftnav-links">
    <ul>
      <li>
      <%= link_to register_student_path, class: 'register-link' do %>
        Register<i class="fa fa-arrow-right"></i>
      <% end %>
      </li>
      <li>
        <%= link_to 'Private Preschools', parents_static_path %>
        <ul class="subnav pschool-nav">
          <li><%= link_to 'parents', parents_static_path %></li>
          <li><%= link_to 'schools', schools_static_path %></li>
          <li><%= link_to 'FAQ', faq_path %></li>
        </ul>
      </li>
      <li>
        <%= link_to 'Head Starts & Public Preschools', vision360_path %>
        <ul class="subnav v360-nav">
          <li><%= link_to 'Vision 360â°', vision360_path %></li>
          <li><%= link_to 'our work', vision360_path(:anchor => 'ourwork') %></li>
          <li><%= link_to 'our impact', vision360_path(:anchor => 'ourimpact') %></li>
          <li><%= link_to 'our partners', vision360_path(:anchor => 'partners') %></li>
          <li><%= link_to 'get involved', vision360_path(:anchor => 'getinvolved') %></li>
        </ul>
      </li>
      <li><a href="https://donatenow.networkforgood.org/1413766" target="_blank">Give</a></li>
      <li>  
        <% if session[:admin] then %>
          <%= link_to 'Administration', root_path, class: '', "data-toggle"=>"dropdown" %>
          <ul class="">
            <li><%= link_to 'manage schools', schools_path %></li>
            <li><%= link_to 'manage students', students_path %></li>
            <li><%= link_to 'manage parents', parents_path %></li>
            <li><%= link_to 'view payments', payments_path %></li>
          </ul>
        <% end %>
      </li>
    </ul>
  </div>
</div>