<div class="leftnav" data-spy="affix">
  <%= link_to home_path, class: 'big-logo' do %>
    <%= image_tag "seewelltolearn-sidenav-logo.png" %>
  <% end %>

  <div class="leftnav-links">
    <ul>
      <li><%= link_to 'Why', why_path %></li>
      <li>
        <%= link_to 'Eye Bus', eyebus_path %>
        <ul class="subnav v360-nav">
          <li><%= link_to 'Components', components_path %></li>
          <li><%= link_to 'Outcomes', outcomes_path %></li>
          <li><%= link_to 'Partners', partners_path %></li>
          <li><%= link_to 'Supporters', supporters_path %></li>
        </ul>
      </li>
      <li>
        <%= link_to 'Screening Services', screening_services_path %>
        <ul class="subnav v360-nav">
          <li><%= link_to 'Parents', parents_static_path %></li>
          <li><%= link_to 'Schools', schools_static_path %></li>
          <li><%= link_to 'Faq', faq_path %></li>
          <li><%= link_to 'Registration', register_student_path %></li>
        </ul>
      </li>
      <li>
        <%= link_to 'About', about_path %>
        <ul class="subnav pschool-nav">
          <li><%= link_to 'Staff', staff_path %></li>
          <li><%= link_to 'Advisory Council', council_path %></li>
        </ul>
      </li>  
      <% if session[:admin] then %>
        <li>
          <%= link_to 'Administration', root_path, class: 'admin-link', "data-toggle"=>"dropdown" %>
          <ul class="subnav admin-nav">
            <li><%= link_to 'manage schools', schools_path %></li>
            <li><%= link_to 'manage students', students_path %></li>
            <li><%= link_to 'manage parents', parents_path %></li>
            <li><%= link_to 'view payments', payments_path %></li>
          </ul>
        </li>
      <% end %>
      <%= link_to register_student_path, class: 'nav-button' do %>
        Register
        <br/>
        <span>For a Screening</span>
      <% end %>
      <%= link_to "https://donatenow.networkforgood.org/1413766", class: 'nav-button' do %>
        Donate
      <% end %>
    </ul>
  </div>
</div>