

  <li>
    <%= link_to register_student_path, class: 'register-link' do %>
      Register
    <% end %>
  </li>
  <li><%= link_to 'parents', parents_static_path %></li>
  <li><%= link_to 'schools', schools_static_path %></li>
  <li><%= link_to 'FAQ', faq_path %></li>
  <li><%= link_to 'Vision 360°', vision360_path %></li>
  <li><a href="https://donatenow.networkforgood.org/1413766">Give</a></li>
  <li>  
    <% if session[:admin] then %>
      <%= link_to 'Administration', root_path, class: '', "data-toggle"=>"dropdown" %>
      <ul class="">
        <li><%= link_to 'manage schools', schools_path %></li>
        <li><%= link_to 'manage students', students_path %></li>
        <li><%= link_to 'manage parents', parents_path %></li>
        <li><%= link_to 'view payments', payments_path %></li>
      </ul>
    <% end %>
  </li>