
  <li>
    <%= link_to register_student_path, class: 'register-link' do %>
      Register
    <% end %>
  </li>
  <li><a href="https://co.clickandpledge.com/advanced/default.aspx?wid=94836">Donate</a></li>
  <li><%= link_to 'Home', home_path %></li>
  <li><%= link_to 'Why', why_path %></li>
  <li><%= link_to 'Eye Bus', eyebus_path %>
    <ul class="">
      <li><%= link_to 'Components', components_path %></li>
      <li><%= link_to 'Outcomes', outcomes_path %></li>
      <li><%= link_to 'Partners', partners_path %></li>
      <li><%= link_to 'Supporters', supporters_path %></li>
    </ul>
  </li>
  <li><%= link_to 'Screening Services', parents_static_path %>
    <ul class="">
      <li><%= link_to 'Parents', parents_static_path %></li>
      <li><%= link_to 'Schools', schools_static_path %></li>
      <li><%= link_to 'FAQ', faq_path %></li>
      <li><%= link_to 'Registration', register_student_path %></li>
    </ul>
  </li>
  <li><%= link_to 'About', about_path %>
    <ul class="subnav v360-nav">
      <li><%= link_to 'Staff', staff_path %></li>
      <li><%= link_to 'Advisory Council', council_path %></li>
    </ul>
  </li>
  <li><a href="http://www.eyeinfo.org">About PBNC</a></li>
  <li>  
    <% if session[:admin] then %>
      <%= link_to 'Administration', root_path, class: '', "data-toggle"=>"dropdown" %>
      <ul class="">
        <li><%= link_to 'manage schools', schools_path %></li>
        <li><%= link_to 'manage students', students_path %></li>
        <li><%= link_to 'manage parents', parents_path %></li>
        <li><%= link_to 'view payments', payments_path %></li>
      </ul>
    <% end %>
  </li>

