<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "PBNC" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "PBNC" %>">
    <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
    <script type="text/javascript" src="//use.typekit.net/oeh6twa.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
  </head>
  <body>
    <header class="header">
      <%= render 'layouts/navigation' %>
    </header>
    <%= render 'layouts/leftnav' %>
    <main role="main" class="container-full">
      <div>
        <%= render 'layouts/messages' %>
      </div>
      <%= yield %>
      <div class="modal" id="modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      </div><!-- /.modal -->
      <!-- 
        Twitters modal has a bug where it won't reload after items that refresh
        it's content.  This is the workaround from : 
        http://stackoverflow.com/questions/12449890/reload-content-in-modal-twitter-bootstrap -->
      <script>

        $("a[data-target=#modal]").click(function(ev) {
            ev.preventDefault();
            var target = $(this).attr("href");

            // load the url and show modal on success
            $("#modal").load(target, function() { 
                 $("#modal").modal("show"); 
            });
        });

      </script>
      <%= yield :script %>
    </main>
  </body>
</html>
